.bottomCommentRight{
    display: flex;
    gap: .25rem;
}
.bottomCommentLeft{
    display: flex;
    gap: .25rem;
}

.comment{
    font-size: 1.1rem;
}

.comment p{
    font-size: 1.2rem;
}

.comment p h4{
    margin-left: 1rem;
}