.bottomCommentRight{
    display: flex;
    gap: .25rem;
}
.bottomCommentLeft{
    display: flex;
    gap: .25rem;
}

.comment{
    font-size: 1.1rem;
    border-top: 2px solid lightgrey;
}

.comment p{
    font-size: 1.2rem;
}

.comment p h4{
    margin-left: 1rem;
}

.newCommentButtons {
  align-items: center;
  background-color: #fafafa;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #686767;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 65px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.newCommentButtons:hover { 
  background-color: #e6e6e6;
  color: #ffffff;
}

/* .newCommentButtons:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
} */

/* .bottomHalfComments{
  padding: 1rem;
} */

.bottomHalfComments>p{
  margin-left: 1.2rem;
}


