.editCommentBox{
    width: 100%;
    margin-bottom: 1rem;
}

.editCommentInput{
    display: flex;
    width: 100%;
}


.editCommentForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editCommentForm>textarea{
/* width: 30rem; */
height: 4rem;
font-size: 1rem;
   border-top-style: hidden;   
    border-right-style: hidden;    
    border-left-style: hidden;  
    border-bottom-style: groove;
    border: 2px solid #e6e6e6;
    resize: none;
}

.editCommentButtons{
    display: flex;
    margin-top: 1rem;
    align-self: flex-end;
}

.editCommentErrors{
    display: flex;
    justify-content: flex-start;
    margin-top: -.2rem;
    margin-left: -1rem;
    color: red;
}

.updateCommentButton {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 65px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.updateCommentButton:hover,
.updateCommentButton:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.updateCommentButton:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}