
a{
     text-decoration: none;
}

.navBar{
    display: flex;
    border: 4px red;
    justify-content: space-between;
    font-size: 1.75rem;
    margin: 2rem;
    

}


.navs{
    display: flex;
    gap: 2.5rem;
}


.navBarLinks{
}

.navBarLinks:hover{
    font-weight: bolder;
}
