.profile-dropdown{
    /* border: 5px solid red; */
    list-style: none;
     position: fixed;
    /* top: 0;
    left: 0; */
    margin-top: 2.5rem;
    margin-left: -3.5rem;
    width: 10rem;
    padding: 2rem;
    height: 11rem;
    background-color: rgba(255, 255, 255, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    gap: .25rem;
    font-size: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

.profileMenu{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 10px;
    width: 3rem;
}



    .profileMenu button{
 align-items: center;
  background-color: #c82727;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.profileMenu button:hover,
.profileMenu button:focus { 
  background-color: #aa2222;
  color: #ffffff;
}

.profileMenu button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}